[Desktop Entry]
Type=Application
Name=colorful
Comment=Your local-first, album-colored music player
Exec=colorful-linux
Icon=colorful
Terminal=false
Categories=AudioVideo;Audio;Music;Player;
StartupWMClass=colorful
DBusActivatable=false
